html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100wv;
}

section {
  counter-reset: my-counter;
}


button::before {
  content: counter(my-counter);
}

p {
  color: red;
  counter-increment: my-counter;
}
