:root {
  --green: rgb(91, 218, 77);
}

*,
::after,
::before {
  box-sizing: border-box;
}

.switch {
  position: relative;
  width: 16rem;
  height: 8rem;
  cursor: pointer;
}

.switch:focus {
  outline: none;
}

.switch::before {
  position: absolute;
  width: 16rem;
  height: 8rem;
  content: "";
  background-color: white;
  border: #adb5bd solid 1px;
  border-radius: 4rem;
  transition: all ease-in .5s;
}

.switch:checked::before {
  border-color: var(--green);
  background-color: var(--green);
  transition: all ease-in .5s;
}

.switch::after {
  position: absolute;
  background-color: blue;
  content: '';
  background-color: white;
  top: .125rem;
  left: .125rem;
  width: calc(8rem - 4px);
  height: calc(8rem - 4px);
  box-shadow: 0.5px 0.5px 2px #adb5bd;
  border-radius: 4rem;
  transform: translateX(0px);
  transition: all ease-in .25s;
}

.switch:checked::after {
  background-color: #fff;
  border: none;
  transform: translateX(8rem);
  transition: all ease-in .25s;
}