
 /* find out more about "content: '' " */

:root {
  --green: rgb(91, 218, 77);
}

div {
  position: relative;
  display: block;
  height: 5rem;
  left: 5rem;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.switch {
  opacity: 0;
}

.custom-control-label::before {
  position: absolute;
  left: -2.25rem;
  width: 4rem;
  height: 2rem;
  pointer-events: all;
  border-radius: 2rem;
  top: 0.25rem;
  pointer-events: none;
  content: '';   
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.switch:checked ~ .custom-control-label::before {
  border-color: var(--green);
  background-color: var(--green);
}

 .custom-control-label::after {
  position: absolute;
  content: '';
  top: calc(0.25rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  box-shadow: 0.5px 0.5px 1px #adb5bd;
  border-radius: 2rem;
  transition: transform 0.25s ease-in-out;
}

.switch:checked ~ .custom-control-label::after {
  background-color: #fff;
  border: none;
  transform: translateX(2rem);
}