:root {
    --sm-background: #266fed;
    --sm-background-hover: #e91e63;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100wv;
    display: flex;
    place-content: center;
}


