html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    color: black;
    font-family: Arial;
    font-size: 10px;        
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px 150px 150px; /* four columns  */
  grid-template-rows: 150px 150px 150px 150px;; /* four rows  */  
}

/*
.text{
    //TODO: make banners DRY
    display: flex;          
    align-items: center;    
    justify-content: center;
}
*/

.banner_aside, .banner_footer, .banner_header, .banner_main {
    display: flex;          
    align-items: center;    
    justify-content: center;
}

.banner_header{            
    background-color: rgba(59, 138, 212, 0.719);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.banner_main{
    background-color: rgba(223, 155, 29, 0.719);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    }

.banner_aside {
    background-color: black;    
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.banner_footer {
    background-color:rgba(59, 138, 212, 0.719);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}