html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    color: black;
    font-family: Arial;
    font-size: 10px;   
    grid: "header header"
    "main aside"  
    "main aside"    
    "main aside"    
    "main aside"    
    "footer footer";
  grid-template-columns: 1fr 20%;      
  grid-template-rows: 10%;
} 

header { grid-area: header; }
main { grid-area: main;}
aside {grid-area: aside;}
footer { grid-area: footer; }

.center{
    display: grid;          
    align-items: center;    
    justify-content: center;
}

.banner_header{            
    background-color: rgba(59, 138, 212, 0.719);
}

.banner_main{
    background-color: rgba(223, 155, 29, 0.719);   
    }

.banner_aside {
    background-color: black;    
    color: white;  
}

.banner_footer {
    background-color:rgba(59, 138, 212, 0.719);
}
