/**
    General comments.
    1. Use grid areas instead  it will reduce the amount of CSS by alot 
    2. You repeat a lot of your stuff.

    display: flex;          
    align-items: center;    
    justify-content: center;

    You can batch these in one using comman seperated statements.

    .banner_header, .banner_main, .banner_footer {
        display: flex;          
        align-items: center;    
        justify-content: center;
    }

    better yet, create a class called .center and just use that class where you need to center the items.
    Please redo this project with these changes
**/

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    color: black;
    font-family: Arial;
    font-size: 10px;        
} 

.center{
    display: grid;          
    align-items: center;    
    justify-content: center;
}

.banner_header{            
    background-color: rgba(59, 138, 212, 0.719);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.banner_main{
    background-color: rgba(223, 155, 29, 0.719);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    }

.banner_aside {
    background-color: black;    
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.banner_footer {
    background-color:rgba(59, 138, 212, 0.719);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
