:root {
    --background: #62306D;
    --color1: #F7EC7D;
    --color2: #EEB850;
}

body {
    position: center;
    margin: 0;
    height: calc(100vh - 400px);
    border: 200px solid var(--background);
    background-color: var(--color1) ;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* use grid - 3rows auto */

