:root {
    --background: #222730;
    --color1: #4CAAB3;
    --color2: #393E46;
    /* --color3:#F3AC3C; */
}

body {
    background: black;
}

.m {
    background-color: #222730;    
    display: flex;
    align-items: center;
    height: 300px;
    width: 400px;
    justify-content: center;
    }
    .b, .di {
    height: 150px;
    }
    .b {
    background-color: #4CAAB3;
    width: 100%;
    }
    .di {
    width: 150px;
    position: absolute;
    border: 50px solid #222730;
    transform: rotate(45deg);
    z-index: 1;
    }
    .d {
    background-color: #393E46;
    border: 80px solid #4CAAB3;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute
    }