form {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

div {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

label[for="status"] {
    color: cadetblue;
    font-style: italic;
    margin-bottom: 20px;
}

label, input {
    margin-bottom: 5px;
}