/* https://github.com/caperaven/training/blob/master/accessibility/03.project2.md */
:root {
    --projHeaderHeight: 3rem;
}

h1 {
    height: var(--projHeaderHeight);
}

myContainer {
    height: calc(100% - var(--projHeaderHeight)); 
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-areas:
        'header header  header'
        'nav    main    aside'
        'footer footer  footer';
}

myContainer header {
    grid-area: header;
    background-color: #DBDBDB;
    color: #5C5F6B;
    justify-content: left;
    padding: 1rem;
}

myContainer nav {
    grid-area: nav;
    background-color: #F4F4F4;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

myContainer nav a{
    text-decoration: none;
    color: var(--text);
}

    myContainer main {
    grid-area: main;
    padding: 1rem;
}

/* check inherited styling */
myContainer > aside {
    grid-area: aside;
    border: 1px solid #F4F4F4;
    background: none;
    color: var(--text);
    box-shadow: none;
    position: relative;
    transform: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

myContainer > aside a {
    text-decoration: none;
    color: var(--text);
}

myContainer footer{
    grid-area: footer;
    background-color: #282C37;
    color: white;
    justify-content: space-between;
    padding: 1rem;

}

myContainer footer a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

