:root {
    --sm-background: #266fed;
    --sm-background-hover: #e91e63;
}

myContainer {
    height: 100%;
    background-image: linear-gradient( cornflowerblue, #03A9F4);
    display: flex;
    place-content: center;
}

myContainer nav {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
}

myContainer ul {
    display: grid;
    color: white;
    opacity: 0;
    list-style: none;
    text-align: center;
    padding: 0;
}

myContainer li {
    display: grid;
    list-style: none;
    color: white;
    background-color: var(--sm-background);
    height: 2rem;
    /* width: max-content; */
    align-items: center;
}

li.main-menu {
    display: flex;
    justify-content: center;
    opacity: 1;
}

li.main-menu:hover > ul {
    opacity: 1;
}

myContainer li:hover {
    background-color: var(--sm-background-hover);
}