:root {
    --sm-background: #266fed;
    --sm-background-hover: #e91e63;
}

/* new */

myContainer{
    height: 100%;
    background-image: linear-gradient( cornflowerblue, #03A9F4);
    display: flex;
    justify-content: center;
}

myContainer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* transform: translate(0, -1rem); */
    color: white;
}

myContainer li {
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
}

myContainer li li {
    border-bottom: 1px solid var(--sm-background);
}

myContainer li:hover {
    background-color: var(--sm-background-hover);
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

/* main menu */
myContainer nav > ul {      
    display: flex;
    justify-content: center;
    position: relative;
    transform: translate(0);
}

myContainer nav ul ul {
    display: none;
    min-width: 15rem;
    position: absolute;
    background: #266fed;
    transform: translate(0, -1rem);
    margin-top: 0.56rem;
    margin-left: -0.5rem;
}

nav ul li:hover > ul {
    will-change: transition;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-out ; /* right place */
    transform: translate(0,0); 
}

nav ul ul li:hover > ul{
    position: absolute;
    top: 0;
    margin-top: 0;
    transform: translate(15rem);
}

myContainer li:hover:last-child {
    border-bottom: none;
}

myContainer nav > ul > li:hover:last-child {
    border-bottom: 1px solid white;
}



