:root {
    --yellow: rgb(224, 200, 59);
    --blue: rgb(63, 14, 197);
}

html,
body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.middle {
    flex-direction: row;
}

main {
    display: inline-flex;
    background-color: var(--yellow);
}

header {
    background-color: var(--blue);
}

aside {
    display: inline-flex;
    background-color: black;
    color: white;
}

footer {
    background-color: var(--blue);
}
