:root {
  --size: 10rem;
}

html,
body {
  display: grid;
  place-items: center;
}

div {
  display: grid;
  place-items: center;
  background: cornflowerblue;
  color: white;
  font-size: 2rem;
  width: var(--size);
  height: var(--size);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

div:hover {
  background: #e91e63;
  border-radius: 50%;
  transition: ease 0.5s;
}

div:active {
  font-size: 1.5rem;
  background: green;
  box-shadow: rgba(1, 1, 1, 0.61);
}
