:root {
  --height: 35rem;
  --width: 20rem;
  --blue: rgb(62, 81, 182, 1);
  --darkblue: rgb(49, 62, 162);
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  height: var(--height);
  width: var(--width);
}

html {
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 3, 0.17);
}

svg {
  fill: white;
  margin: 0 1rem;
}

svg:hover {
  background-color: rgb(49, 62, 162);
}

header {
  height: 3rem;
  display: flex;
  color: white;
  align-items: center;
  background: var(--blue);
  border-top: 1rem solid var(--darkblue);
}

header h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

menu {
  padding-left: 1rem;
  font-size: 0.8rem;
  color: dimgrey;
}

div {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

div input {
  display: flex;
  align-self: center;
  justify-self: center;
}

div.item-details {
  display: grid;
  box-sizing: content-box;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  border-bottom: 1px solid lightgrey;
}

label.item-description {
  text-transform: capitalize;
  padding-top: 0.5rem;
}

label.item-date {
  font-size: 0.8rem;
  color: dimgrey;
}

input {
  cursor: pointer;
}

button {
  position: absolute;
  /* tried this, but not working: */
  /* top: calc(var(--height)+50px); */
  top: 30rem;
  left: 15rem;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 3, 0.17);
}

button:focus {
  outline: none;
  cursor: pointer;
}

button:active {
  background-color: var(--darkblue);
  box-shadow: none;
}
