body {
  margin: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20;
}

header {
  color: white;
  padding-left: 20px;
  background: rgb(62, 81, 182, 1);
  border-top: rgb(49, 62, 162);
}

header h1 {

}

